.contacts {
  color: #161616;
  max-width: 1260px;
  margin: 0 auto;
  padding: 100px 20px 0 20px;

  @media (min-width: 744px) {
    padding-top: 140px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: 1260px) {
    padding-top: 140px;
    padding-left: 120px;
    padding-right: 120px;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;

    @media (min-width: 744px) {
      font-size: 48px;
      line-height: 46px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 744px) {
      display: grid;
      grid-template-columns: 237px 288px;
      column-gap: 75px;
      row-gap: 48px;
      justify-content: center;
      max-width: 600px;
      margin: 0 auto;
    }

    @media (min-width: 1260px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      max-width: 1020px;
      margin: 0 auto;
    }
  }

  &__branch {
    font-style: normal;
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 48px;

      @media (min-width: 744px) {
        margin-bottom: 0;
      }
    }

    @media (min-width: 744px) {
      width: 237px;
      flex-shrink: 0;
    }

    @media (min-width: 1260px) {
      &:nth-of-type(1) {
        margin-right: 24px;
      }

      &:nth-of-type(2) {
        margin-right: 111px;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
      white-space: nowrap;
    }
  }

  &__label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    margin-top: 16px;
    margin-bottom: 0;
    text-align: left;

    &-address {
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
      margin-top: 8px;
      margin-bottom: 0;
      text-align: left;
    }
  }

  &__link {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    margin-top: 4px;
    margin-bottom: 0;
    color: #3E3E3E;
    text-decoration: none;
    text-align: left;
    white-space: nowrap;
  }

  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin-top: 4px;
    margin-bottom: 0;
    color: #3E3E3E;
    text-align: left;
    white-space: nowrap;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    width: 100%;

    @media (min-width: 744px) {
      margin-top: 0;
      width: 288px;
      flex-shrink: 0;
      grid-column: 2;
      grid-row: 1 / span 2;
    }

    @media (min-width: 1260px) {
      width: 411px;
      flex-shrink: 0;
    }
  }

  &__input {
    height: 48px;
    margin-bottom: 16px;
  }

  &__textarea {
    height: 160px;
    margin-bottom: 32px;
    resize: none;
  }

  &__input,
  &__textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 14px 11px;

    font-family: 'Cinzel', serif;
    font-size: 14px;
    line-height: 20px;

    color: #161616;
    background-color: #F8F8FA;

    border: 1px solid transparent;
    outline: none;

    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    @media (min-width: 744px) {
      font-size: 16px;
      line-height: 24px;
      padding: 12px 16px;
    }

    &::placeholder {
      color: #7E7E83;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;

      @media (min-width: 744px) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &:hover {
      border-color: #D5D7DE;
    }

    &:focus {
      border-color: #161616;
      background-color: #FFFFFF;
    }
  }

  &__btn {
    background-color: #D12D35;
    font-family: 'Cinzel', serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    border: none;
    width: 100%;
    height: 56px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #AE1C23;
    }

    &:active {
      background-color: #EB343D;
    }
  }

  &__ended-photo {
    display: block;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    object-fit: cover;
    margin-top: 100px;

    @media (min-width: 744px) {
      margin-top: 156px;
    }

    @media (min-width: 1260px) {
      margin-top: 150px; 
    }
  }
}