.page__hours {
  font-family: 'Cinzel', serif;
  max-width: 1260px;
  margin: 0 auto;
  padding: 100px 20px 0 20px;

  @media (min-width: 744px) {
    padding-top: 140px;
    padding-left: 72px;
    padding-right: 40px;
  }

  @media (min-width: 1260px) {
    padding-top: 138px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.hours {
  color: #161616;
  &__br {
    display: none;

    @media (min-width: 744px) and (max-width: 1259px) {
      display: block;
    }
  }

  @media (min-width: 744px) {
    display: flex;
    gap: 24px;
  }

  &__header {
    @media (min-width: 744px) {
      width: 288px;
      flex-shrink: 0;
    }

    @media (min-width: 1260px) {
      width: 411px;
    }
  }

  &__content {
    @media (min-width: 744px) {
      width: 288px;
    }

    @media (min-width: 1260px) {
      width: auto;
      flex: 1;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.4;
    display: block;
    color: #D12D35;
    margin-bottom: 2px;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    margin-top: 0;
    margin-bottom: 32px;

    @media (min-width: 744px) {
      font-size: 48px;
      line-height: 46px;
      margin-bottom: 0;
    }
  }

  &__branch {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__branch-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
  }

  &__schedule {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: fit-content;
    margin-bottom: 16px;
  }

  &__col-time,
  &__col-days {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__time,
  &__days,
  &__closed_on,
  &__exceptions {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 1px;
    text-align: left;
  }

  &__time,
  &__closed_on {
    font-weight: 700;
  }

  &__days,
  &__exceptions {
    font-weight: 400;
  }

  &__closed_on {
    display: block;
  }

  &__exceptions {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}