.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;


  @media (min-width: 744px) {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url('../../images/icon-phone-call.png');
  }

  &--menu {
    background-image: url('../../images/icon-burger-menu.png');
  }

  &--close {
    background-image: url('../../images/icon-close.png');
    width: 16px;
    height: 16px;

    @media (max-width: 743px) {
      width: 16px;
      height: 16px;
    }
  }
}

