@import 'header';
@import 'contact';
@import 'menu';
@import 'icon';
@import 'nav';
@import 'hours';
@import 'exhibitions';
@import 'explore';
@import 'contacts';

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  padding: 0;
  font-family: Cinzel, serif;
  background-color: white;

  &.no-scroll {
    overflow: hidden;
  }
}
